.topbar{
float: left;

} 

.topbar-right{
    float: right;
}

.signin{
    background-color: blue;
    color: ghostwhite;
    border-radius: 10px;
}
.search{
    background-color: aquamarine; 
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.logo{
    width:300px
}

.searchbar{
    width:400px;
}
.twobuttons {
    text-align: center;
    padding: 10px;
}

button{}

button:hover{
    border: 2px solid blue;
}

.searchbar{border-radius: 10px;}

.footeritems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: teal;
}

.allfooter {
    background-color: slategray;
}