.topbar{
float: left;

} 

.topbar-right{
    float: right;
}

.signin{
    background-color: blue;
    color: ghostwhite;
    border-radius: 10px;
}
.search{
    background-color: aquamarine; 
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.logo{
    width:300px
}

.searchbar{
    width:400px;
}
.twobuttons {
    text-align: center;
    padding: 10px;
}

button{
  border: 2px  
}
button:hover{
    border: 2px solid blue;
}

.searchbar{border-radius: 10px;}

footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightslategrey;
    position: fixed;
  bottom: 0;
  width: 100%;
  }

.footeritems{
    display: inline;
    color: ghostwhite;
}