body{
    font-family: Arial;
}
.topbar{
float: left;

} 

.topbar-right{
    float: right;
}

.signin{
    background-color: blue;
    color: ghostwhite;
    border-radius: 10px;
}
.search{
    background-color: aquamarine; 
    padding-top: 200px;
}

.logo{
    width:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchbar{
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#twobuttons {
    padding: 10px;
    text-align: center;

}

.submitbutton, .luckybutton {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: #5F6368;
    width: 130px;
    padding: 6px;
    font-size: 13px;

}

button:hover{
    border: 1px solid black;
    color: black;
}

.searchbar{border-radius: 10px;}

.footeritems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: teal;
}

.allfooter {
    background-color: slategray;
}